#nav {
  position: fixed;
  height: 70px;
  background-color:grey;
  width: 100%;


}

#nav li {
  display:inline;
  text-align: center;

}
#page1 {
  height:1000px;
  background-color:green;
}

#page2 {
  height:1000px;
  background-color:blue;
}

#page3 {
  height:1000px;
  background-color:red;
}
