#nav {
  height: 50px;
  background-color:#313B40;
  width: 100%;
  position:fixed;


}

#nav li {
  display:inline;
  padding:10px 10px 10px 10px;

}

#nav a {
  color:white;
  font-family:'Comfortaa', cursive;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}

#nav a:hover{
  color:#4F7589;
}

.profile-circular {
  width: 200px;
  height: 200px;
  background-image:
  url('http://goo.gl/hpLHn9');
  background-size:cover;
  display:block;
  border-radius: 100px;
  -webkit-border-radius:100px;
  -moz-border-radius: 100px;
  margin-left:auto;
  margin-right:auto;

}
#page1 {
  height:500px;
  background-color:#5192B5;
  font-family: 'Comfortaa', cursive;
  color:white;
  text-align:center;
  padding-top:150px;
}

#page2 {
  height:500px;
  background-color:#8AA7B7;
  font-family: 'Comfortaa', cursive;
  color:white;
  text-align:center;
  padding-top:150px;
}

#page3 {
  height:500px;
  background-color:#4F7589;
  font-family: 'Comfortaa', cursive;
  color:white;
  text-align:center;
  padding-top:150px;

}
