#nav {
  height: 70px;
  background-color:#313B40;
  width: 100%;
  position:fixed;


}

#nav li {
  display:inline;
  padding-left:15px;

}

#nav a {
  color:white;
  font-family:'Comfortaa', cursive;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
}

#nav a:hover{
  color:#4F7589;
}


#page1 {
  height:1000px;
  background-color:#5192B5;
  font-family: 'Comfortaa', cursive;
  color:white;
  text-align:center;
  padding-top:300px;
}

#page2 {
  height:1000px;
  background-color:#8AA7B7;
  font-family: 'Comfortaa', cursive;
  color:white;
  text-align:center;
  padding-top:300px;
}

#page3 {
  height:1000px;
  background-color:#4F7589;
  font-family: 'Comfortaa', cursive;
  color:white;
  text-align:center;
  padding-top:300px;

}
